<!-- Navbar Transparent -->
<nav class="navbar navbar-expand-lg position-absolute top-0 z-index-3 w-100 shadow-none my-3  navbar-transparent ">
  <div class="container">
    <a class="navbar-brand  text-white " routerLink="/home" rel="tooltip" title="Created by Emily Tracy"
      data-placement="bottom">
      Emily Tracy's Professional Portfolio
    </a>
    <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon mt-2">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </span>
    </button>
    <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0 ms-lg-12 ps-lg-5" id="navigation">
      <ul class="navbar-nav navbar-nav-hover ms-auto">
        <li class="nav-item dropdown dropdown-hover mx-2 ms-lg-6">
          <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" id="dropdownMenuPages8"
            data-bs-toggle="dropdown" aria-expanded="false">
            <i class="material-icons opacity-6 me-2 text-md">dashboard</i>
            Explore
            <img src="assets/img/down-arrow-white.svg" alt="down-arrow" class="arrow ms-2 d-lg-block d-none">
            <img src="assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-2 d-lg-none d-block">
          </a>
          <div class="dropdown-menu dropdown-menu-animation ms-n3 dropdown-md p-3 border-radius-lg mt-0 mt-lg-3" aria-labelledby="dropdownMenuPages8">
            <div class="d-none d-lg-block">
              <a routerLink="/about" class="dropdown-item border-radius-md">
                <span>About Me</span>
              </a>
              <a routerLink="/portfolio" class="dropdown-item border-radius-md">
                <span>My Portfolio</span>
              </a>
            </div>
            <div class="d-lg-none">
              <a routerLink="/about" class="dropdown-item border-radius-md">
                <span>About Me</span>
              </a>
              <a routerLink="/portfolio" class="dropdown-item border-radius-md">
                <span>My Portfolio</span>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- -------- START HEADER 4 w/ search book a ticket form ------- -->
<header>
  <div class="page-header min-height-400" style="background-image: url('assets/img/CalPolyBG.jpg');" loading="lazy">
    <span class="mask bg-gradient-dark opacity-8"></span>
  </div>
</header>
<!-- -------- END HEADER 4 w/ search book a ticket form ------- -->
<div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6 mb-4">
  <!-- START Testimonials w/ user image & text & info -->
  <section class="py-sm-7 py-5 position-relative">
    <div class="container">
      <div class="row">
        <div class="col-12 mx-auto">
          <div class="mt-n8 mt-md-n9 text-center">
            <img class="avatar avatar-xxl shadow-xl position-relative z-index-2" src="assets/img/Profile.jpg"
              alt="Emily" loading="lazy">
          </div>
          <div class="row py-5">
            <div class="col-lg-7 col-md-7 z-index-2 position-relative px-md-2 px-sm-5 mx-auto">
              <div class="d-flex justify-content-between align-items-center mb-2">
                <h3 class="mb-0">Emily Tracy</h3>
                <div class="d-block">
                  <div>
                    <ul class="d-flex flex-row ms-n3 nav">
                      <li class="nav-item">
                        <a class="nav-link pe-1" href="https://linkedin.com/in/emily-tracy-2379a51" target="_blank">
                          <i class="fab fa-linkedin text-lg opacity-8"></i>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link pe-1" href="https://github.com/emgoheen" target="_blank">
                          <i class="fab fa-github text-lg opacity-8"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <p class="text-lg mb-0">
                I am an experienced software developer specializing in UI and frontend design and
                development.  My interest in visual-based programming started at Cal Poly when I
                took classes in virtual reality and animation.  These influenced me to do my
                senior project using Java 3D to highlight the visual effects on object positioning from
                specific types of matrix math computations.  For a good portion of my career,
                I've been writing software applications for the news and sports broadcast markets.
                I began with Windows-based application development using C#, Windows Forms, and
                then eventually, WPF and XAML.  In more recent years, my focus has shifted to
                developing web-based applications using Angular and Typescript.  If you are in need
                of some Angular web development experience, I may be able to help! </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

  <!-- Footer -->
  <footer class="footer pt-3">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="text-center">
            <p class="text-dark my-2 text-sm font-weight-normal">
              Copyright © {{year}} {{name}}.
            </p>
          </div>
        </div>
      </div>
    </div>

  </footer>
