<!-- Navbar Transparent -->
<nav class="navbar navbar-expand-lg position-absolute top-0 z-index-3 w-100 shadow-none my-3  navbar-transparent ">
  <div class="container">
    <a class="navbar-brand  text-white " rel="tooltip" title="Created by Emily Tracy"
      data-placement="bottom" routerLink="/home">
      Emily Tracy's Professional Portfolio
    </a>
    <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon mt-2">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </span>
    </button>
    <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0 ms-lg-12 ps-lg-5" id="navigation">
      <ul class="navbar-nav navbar-nav-hover ms-auto">
        <li class="nav-item dropdown dropdown-hover mx-2 ms-lg-6">
          <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" id="dropdownMenuPages8" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="material-icons opacity-6 me-2 text-md">dashboard</i>
            Explore
            <img src="assets/img/down-arrow-white.svg" alt="down-arrow" class="arrow ms-2 d-lg-block d-none">
            <img src="assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-2 d-lg-none d-block">
          </a>
          <div class="dropdown-menu dropdown-menu-animation ms-n3 dropdown-md p-3 border-radius-lg mt-0 mt-lg-3" aria-labelledby="dropdownMenuPages8">
            <div class="d-none d-lg-block">
              <a routerLink="/about" class="dropdown-item border-radius-md">
                <span>About Me</span>
              </a>
              <a routerLink="/portfolio" class="dropdown-item border-radius-md">
                <span>My Portfolio</span>
              </a>
            </div>
            <div class="d-lg-none">
              <a routerLink="/about" class="dropdown-item border-radius-md">
                <span>About Me</span>
              </a>
              <a routerLink="/portfolio" class="dropdown-item border-radius-md">
                <span>My Portfolio</span>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

  <!-- -------- START HEADER 7 w/ text and video ------- -->
  <header class="bg-gradient-dark">
    <div class="page-header min-vh-75" style="background-image: url('assets/img/BeachBG.jpg');">
      <span class="mask bg-gradient-dark opacity-6"></span>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center mx-auto my-auto">
            <h1 class="text-white">Work Portfolio</h1>
            <p class="lead mb-4 text-white opacity-8">Here you will find information on some of the projects I've worked on in both professional and personal capacities</p>
            <h6 class="text-white mb-2 mt-5">Find me on</h6>
            <div class="d-flex justify-content-center">
              <a href="https://linkedin.com/in/emily-tracy-2379a51" target="_blank"><i class="fab fa-linkedin text-lg text-white me-4"></i></a>
              <a href="https://github.com/emgoheen" target="_blank"><i class="fab fa-github text-lg text-white"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
    <section class="py-3">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h3 class="mb-5">Professional Projects</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-sm-6">
            <div class="card card-plain">
              <div class="card-header p-0 position-relative">
                <a href="https://www.grassvalley.com/products/cloud-based-workflows/cloud-based-workflows/gv-ampp/" target="_blank" class="d-block blur-shadow-image">
                  <img src="assets/img/examples/GVAMPP_border.jpg" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg" loading="lazy">
                </a>
              </div>
              <div class="card-body px-0">
                <h5>
                  <a href="https://www.grassvalley.com/products/cloud-based-workflows/cloud-based-workflows/gv-ampp/" class="text-dark font-weight-bold" target="_blank">
                    NextGen asset management solution - soon to be released as part of the GV Media
                    Universe and GV AMPP ecosystem</a>
                </h5>
                <p>
                  Client technologies used:  Angular 12, Typescript, Node.js, CSS/SCSS, HTML5
                  Supporting technoloiges:  Jenkins, Git/Gitflow, Kubernetes
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="card card-plain">
              <div class="card-header p-0 position-relative">
                <a href="https://www.grassvalley.com/products/media-asset-management/gv-stratus/" target="_blank" class="d-block blur-shadow-image">
                  <img src="assets/img/examples/StratusWeb2.jpg" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg" loading="lazy">
                </a>
              </div>
              <div class="card-body px-0">
                <h5>
                  <a href="https://www.grassvalley.com/products/media-asset-management/gv-stratus/" class="text-dark font-weight-bold" target="_blank">GV Stratus (Web Client)</a>
                </h5>
                <p>
                  Client technologies used:  Angular 6, Typescript, Node.js, CSS/SCSS, HTML5
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="card card-plain">
              <div class="card-header p-0 position-relative">
                <a href="https://www.grassvalley.com/products/media-asset-management/gv-stratus/" target="_blank" class="d-block blur-shadow-image">
                  <img src="assets/img/examples/StratusDesktop.jpg" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg" loading="lazy">
                </a>
              </div>
              <div class="card-body px-0">
                <h5>
                  <a href="https://www.grassvalley.com/products/media-asset-management/gv-stratus/" class="text-dark font-weight-bold" target="_blank">GV Stratus (Desktop Client)</a>
                </h5>
                <p>
                  Client technologies used:  C#, WPF/XAML, MVVM
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="py-3">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h3 class="mb-5">Personal Projects</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-sm-6">
            <div class="card card-plain">
              <div class="card-header p-0 position-relative">
                <a href="https://retracy.github.io/skills/home/emily" target="_blank" class="d-block blur-shadow-image">
                  <img src="assets/img/examples/Skills.jpg" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg" loading="lazy">
                </a>
              </div>
              <div class="card-body px-0">
                <h5>
                  <a href="https://retracy.github.io/skills/home/emily" class="text-dark font-weight-bold" target="_blank">
                  Skills Project
                </a>
                </h5>
                <p>
                  Client technologies used:  Angular 12, Typescript, Node.js, Angular Material, CSS/SCSS, HTML5
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- Footer -->
<footer class="footer pt-3">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <p class="text-dark my-2 text-sm font-weight-normal">
            Copyright © {{year}} {{name}}.
          </p>
        </div>
      </div>
    </div>
  </div>

</footer>

<!-- End Footer -->
